{% extends "base.html" %}

{% block content %}

	<a name="top"></a>
	<nav class="navbar navbar-default">
		<div class="container">
			<p class="navbar-text">Leo and Jen - Capitals Journey</p>
		</div>
	</nav>

<div class="container">
  <div class="row" id="top-section">
		<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
			<h2 class="text-center">Map of the USA</h2>
			<!--<div id='map'></div>-->
			<iframe src="https://capitals.leoandjen.com/map/"></iframe>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h4>Countries</h4>
				<div class="btn-group-vertical" role="group">
					{%for capital in other_capitals%}
						<a href="#{{capital.id}}" class="btn btn-info">{{capital.name}}</a>
					{%endfor%}
				</div>
			</div>
		</div>
		<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
			<h4>US Capitals</h4>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{us_capitals_visited_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{us_capitals_visited_percent}}%;">
				{{us_capitals_visited}} / 50
			  </div>
			</div>
			<div class="row">
				<div id="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1>States</h1>
					<div class="columns">
						 <ul>
						 {%for city, visited, state in us_states_list%}
							 <li>
								 <div class="btn-group-vertical" role="group">
									{%if visited%}
									<a href="#{{state}}" class="btn btn-success" id="btn-custom1">{{city}}</a>
									{%else%}
									<a href="#{{state}}" class="btn btn-default" id="btn-custom1">{{city}}</a>
									{%endif%}
								 </div>
							 </li>
						 {%endfor%}
						 </ul>
					</div>
				</div>
			</div>
		</div>
  </div>

	{%for capital in all_capitals%}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				{%if capital.us_state%}
					<a name="{{capital.us_state}}"></a>
				{%else%}
					<a name="{{capital.id}}"></a>
				{%endif%}
				<img src="{{ MEDIA_URL }}{{capital.country.flag}}" class="country-flag-img">
		    <h1 class="panel-title capital-title">{{capital.name}}</h1>
				<p class="text-right"><a href="#top">Back to top</a></p>
		  </div>
			<div class="panel-body">
				<div class="col-sm-4 col-xs-12">
					<img src="{{ MEDIA_URL }}{{capital.flag}}" class="flag-img">
					<small>{{capital.flag_caption}}</small>
					<h3>Date Visited: {{capital.date_visited}}</h3>
					<p>{{capital.description}}</p>
					<p><a href="https://www.google.com/maps/@{{capital.lat}},{{capital.lon}},12z" target='_blank' class="btn btn-primary btn-lg active" role="button">Map it</a></p>
				</div>
				<div class="col-sm-8 col-xs-12">
					<div id="photos{{capital.id}}" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
						{%for photo in all_photos%}
							{%if photo.capital == capital%}
								<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						      <a href="{{ MEDIA_URL }}{{photo.photo_file}}" itemprop="contentUrl" data-size="{{photo.photo_width}}x{{photo.photo_height}}">
						          <img src="{{ MEDIA_URL }}{{photo.photo_file}}" itemprop="thumbnail" alt="Image description" />
						      </a>
						    	<figcaption itemprop="caption description">{{capital.name}} - {{capital.date_visited}}</figcaption>
								</figure>
							{%endif%}
						{%endfor%}
					</div>
				</div>
		  </div>
		</div>
	</div>
	{%endfor%}
</div>

{%endblock content%}