<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

	<title>Leo and Jen - Capitals Journey</title>
    {% load staticfiles %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .leaflet-container {
        height: 100%;
      }
    </style>
	<link href="{% static "css/capitals-custom.css"%}" rel="stylesheet">

    <!-- Leaflet stuff -->
    <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
    <script src="{% static "leaflet/leaflet.js" %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <!-- End leaflet stuff -->
    </head>
    <body>
    <div id="map" class="map_full"></div>
    <!-- Javascript/css for leaflet map -->
    <link rel="stylesheet" href="{% static "fontawesome-5.6.3/css/all.css" %}">
    <script type="text/javascript" src="{% static "js/us-states.js"%}"></script>
    <script type="text/javascript" src="{% static "js/us-capitals.js"%}"></script>
    <link rel="stylesheet" href="{% static "css/leaflet.awesome-markers.css"%}">
    <script src="{% static "js/leaflet.awesome-markers.min.js"%}"></script>

    <script type="text/javascript">
        var visited_states = {{us_visited_states|safe}}
        var country_capitals = {{other_capitals_json|safe}}
    </script>
    <script src="{% static "js/leaflet_map_custom.js"%}"></script>
    </body>
</html>