<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

	<title>Leo and Jen - Capitals Journey</title>
    {% load staticfiles %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .leaflet-container {
        height: 100%;
      }
    </style>
	<link href="{% static "css/capitals-custom.css"%}" rel="stylesheet">

    <!-- Leaflet stuff -->
    <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
    <script src="{% static "leaflet/leaflet.js" %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <!-- End leaflet stuff -->
    </head>
    <body>
    <div id="map"></div>
    <!-- Javascript/css for leaflet map -->
    <link rel="stylesheet" href="{% static "fontawesome-5.6.3/css/all.css" %}">
    <script type="text/javascript" src="{% static "js/us-states.js"%}"></script>
    <script type="text/javascript" src="{% static "js/us-capitals.js"%}"></script>
    <link rel="stylesheet" href="{% static "css/leaflet.awesome-markers.css"%}">
    <script src="{% static "js/leaflet.awesome-markers.min.js"%}"></script>

    <script type="text/javascript">
        //*** Create the states outline and colors, styles

        // Return a fillcolor if the state has been visited
        function getColor(n) {
            var color;
            var visited = {{us_visited_states|safe}}.includes(n);

            if (visited){
                color = "#46AA14";
            } else {
                color = "#DDDDDD";
            }
            return color;
        }

        // state styles
        function style(feature) {
            return {
                fillColor: getColor(feature.properties.name),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        L.geoJson(statesData, {style: style}).addTo(map);
        //*** State styles end
    </script>
    <script src="{% static "js/leaflet_map_custom.js"%}"></script>
    </body>
</html>