<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

	<title>Leo and Jen - Capitals Journey</title>

	<style>
	  #alert {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    background-color: #ddd;
	    color: #333;
	    padding: 5px;
	    font-weight: bold;
	  }
		{%for capital in all_capitals%}
		#photos{{capital.id}} {
		   line-height: 0;
		   -webkit-column-count: 2;
		   -webkit-column-gap:   0px;
		   -moz-column-count:    2;
		   -moz-column-gap:      0px;
		   column-count:         2;
		   column-gap:           0px;
		}
		#photos{{capital.id}} img {
		  width: 100% !important;
		  height: auto !important;
		}
		@media (max-width: 1200px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 1000px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 800px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 400px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    1;
		  -webkit-column-count: 1;
		  column-count:         1;
		  }
		}
	{%endfor%}
	</style>
    {% load staticfiles %}
	<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/ie10-viewport-bug-workaround.css"%}" rel="stylesheet">
	<link href="{% static "PhotoSwipe-master/dist/photoswipe.css"%}" rel="stylesheet">
	<link href="{% static "PhotoSwipe-master/dist/default-skin/default-skin.css"%}" rel="stylesheet">
	<link href="{% static "css/capitals-custom.css"%}" rel="stylesheet">

    <!-- Leaflet stuff -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <style>#map { width: 100%; height: 400px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

    <!-- End leaflet stuff -->
</head>
<body>

{% block content %}{% endblock %}

<!-- Javascript for Bootstrap
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script src="{% static "PhotoSwipe-master/dist/photoswipe.min.js"%}"></script>
<script src="{% static "PhotoSwipe-master/dist/photoswipe-ui-default.min.js"%}"></script>

<!-- Javascript/css for leaflet map -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script type="text/javascript" src="{% static "js/us-states.js"%}"></script>
<script type="text/javascript" src="{% static "js/us-capitals.js"%}"></script>
<link rel="stylesheet" href="{% static "css/leaflet.awesome-markers.css"%}">
<script src="{% static "js/leaflet.awesome-markers.min.js"%}"></script>

<script type="text/javascript">
    //*** Create the Map
    // Map start
    var mapboxAccessToken = 'pk.eyJ1IjoiY29waGVhZDU2NyIsImEiOiJjanF2MGg5c3gwcTVwNDNuM2FoemcyZHExIn0.w4xEV2KZ7kGEhlfoWpE_wg';
    var map = L.map('map', {fullscreenControl: true}).setView([37.8, -96], 3);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
        id: 'mapbox.light'
    }).addTo(map);

    L.geoJson(statesData).addTo(map);
    //*** Map create end

    //*** Control elements
    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
        this.update();
        return this._div;
    };

    // method that we will use to update the control based on feature properties passed
    info.update = function (props) {
        this._div.innerHTML = '<h4>States visited</h4>' +  (props ?
            '<b>' + props.name + '</b><br />'
            : 'Hover over a state');
    };

    info.addTo(map);
    //*** end control

    //*** Create the states outline and colors, styles

    // Return a fillcolor if the state has been visited
    function getColor(n) {
        var color;
        var visited = {{us_visited_states|safe}}.includes(n);

        if (visited){
            color = "#46AA14";
        } else {
            color = "#DDDDDD";
        }
        return color;
    }

    // state styles
    function style(feature) {
        return {
            fillColor: getColor(feature.properties.name),
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }

    L.geoJson(statesData, {style: style}).addTo(map);
    //*** State styles end

    //*** Stuff that happens when you hover a mouse over the state
    // Mouse in
    function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 5,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		info.update(layer.feature.properties);
	}

	var geojson;

    // Mouse out
	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: zoomToFeature
		});
	}

	geojson = L.geoJson(statesData, {
		style: style,
		onEachFeature: onEachFeature
	}).addTo(map);

	//*** Let's add capital cities
	var awesomeMarker;

	for (var city in cities) {
		L.marker(
				[cities[city].latitude, cities[city].longitude],
				{
					// icon: awesomeMarker,
					icon: L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', markerColor: 'cadetblue', iconColor: '#fff'}),
					riseOnHover: true,
					title: cities[city].city_name + ', ' + cities[city].state_name
				}
			)
			.addTo(map)
			.on('click', function(e) {
				gotoLocation(this.getLatLng().lat, this.getLatLng().lng, 7);
			})
			.bindPopup(cities[city].city_name + ', ' + cities[city].state_name);
	}

</script>
<!-- end leaflet -->


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
	<script>
	var initPhotoSwipeFromDOM = function(gallerySelector) {

	// parse slide data (url, title, size ...) from DOM elements
	// (children of gallerySelector)
	var parseThumbnailElements = function(el) {
			var thumbElements = el.childNodes,
					numNodes = thumbElements.length,
					items = [],
					figureEl,
					linkEl,
					size,
					item;

			for(var i = 0; i < numNodes; i++) {

					figureEl = thumbElements[i]; // <figure> element

					// include only element nodes
					if(figureEl.nodeType !== 1) {
							continue;
					}

					linkEl = figureEl.children[0]; // <a> element

					size = linkEl.getAttribute('data-size').split('x');

					// create slide object
					item = {
							src: linkEl.getAttribute('href'),
							w: parseInt(size[0], 10),
							h: parseInt(size[1], 10)
					};



					if(figureEl.children.length > 1) {
							// <figcaption> content
							item.title = figureEl.children[1].innerHTML;
					}

					if(linkEl.children.length > 0) {
							// <img> thumbnail element, retrieving thumbnail url
							item.msrc = linkEl.children[0].getAttribute('src');
					}

					item.el = figureEl; // save link to element for getThumbBoundsFn
					items.push(item);
			}

			return items;
	};

	// find nearest parent element
	var closest = function closest(el, fn) {
			return el && ( fn(el) ? el : closest(el.parentNode, fn) );
	};

	// triggers when user clicks on thumbnail
	var onThumbnailsClick = function(e) {
			e = e || window.event;
			e.preventDefault ? e.preventDefault() : e.returnValue = false;

			var eTarget = e.target || e.srcElement;

			// find root element of slide
			var clickedListItem = closest(eTarget, function(el) {
					return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
			});

			if(!clickedListItem) {
					return;
			}

			// find index of clicked item by looping through all child nodes
			// alternatively, you may define index via data- attribute
			var clickedGallery = clickedListItem.parentNode,
					childNodes = clickedListItem.parentNode.childNodes,
					numChildNodes = childNodes.length,
					nodeIndex = 0,
					index;

			for (var i = 0; i < numChildNodes; i++) {
					if(childNodes[i].nodeType !== 1) {
							continue;
					}

					if(childNodes[i] === clickedListItem) {
							index = nodeIndex;
							break;
					}
					nodeIndex++;
			}



			if(index >= 0) {
					// open PhotoSwipe if valid index found
					openPhotoSwipe( index, clickedGallery );
			}
			return false;
	};

	// parse picture index and gallery index from URL (#&pid=1&gid=2)
	var photoswipeParseHash = function() {
			var hash = window.location.hash.substring(1),
			params = {};

			if(hash.length < 5) {
					return params;
			}

			var vars = hash.split('&');
			for (var i = 0; i < vars.length; i++) {
					if(!vars[i]) {
							continue;
					}
					var pair = vars[i].split('=');
					if(pair.length < 2) {
							continue;
					}
					params[pair[0]] = pair[1];
			}

			if(params.gid) {
					params.gid = parseInt(params.gid, 10);
			}

			return params;
	};

	var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
			var pswpElement = document.querySelectorAll('.pswp')[0],
					gallery,
					options,
					items;

			items = parseThumbnailElements(galleryElement);

			// define options (if needed)
			options = {

					// define gallery index (for URL)
					galleryUID: galleryElement.getAttribute('data-pswp-uid'),

					getThumbBoundsFn: function(index) {
							// See Options -> getThumbBoundsFn section of documentation for more info
							var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
									pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
									rect = thumbnail.getBoundingClientRect();

							return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
					}

			};

			// PhotoSwipe opened from URL
			if(fromURL) {
					if(options.galleryPIDs) {
							// parse real index when custom PIDs are used
							// http://photoswipe.com/documentation/faq.html#custom-pid-in-url
							for(var j = 0; j < items.length; j++) {
									if(items[j].pid == index) {
											options.index = j;
											break;
									}
							}
					} else {
							// in URL indexes start from 1
							options.index = parseInt(index, 10) - 1;
					}
			} else {
					options.index = parseInt(index, 10);
			}

			// exit if index not found
			if( isNaN(options.index) ) {
					return;
			}

			if(disableAnimation) {
					options.showAnimationDuration = 0;
			}

			// Pass data to PhotoSwipe and initialize it
			gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
			gallery.init();
	};

	// loop through all gallery elements and bind events
	var galleryElements = document.querySelectorAll( gallerySelector );

	for(var i = 0, l = galleryElements.length; i < l; i++) {
			galleryElements[i].setAttribute('data-pswp-uid', i+1);
			galleryElements[i].onclick = onThumbnailsClick;
	}

	// Parse URL and open gallery if it contains #&pid=3&gid=1
	var hashData = photoswipeParseHash();
	if(hashData.pid && hashData.gid) {
			openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
	}
};

// execute above function
initPhotoSwipeFromDOM('.my-gallery');
	</script>
</body>
</html>