<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

	<title>US Map Demo</title>

	<style>
	  #alert {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    background-color: #ddd;
	    color: #333;
	    padding: 5px;
	    font-weight: bold;
	  }
	</style>
  {% load staticfiles %}
	<!-- Bootstrap core CSS -->
	<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static "css/ie10-viewport-bug-workaround.css"%}" rel="stylesheet">

	<!-- Javascript for US Map -->
	<script src="{% static "js/raphael.js"%}"></script>
	<!-- <script src="scale.raphael.js"></script>-->
	<script src="{% static "js/jquery.js"%}"></script>
	<script src="{% static "js/color.jquery.js"%}"></script>
	<script src="{% static "js/jquery.usmap.js"%}"></script>

	<script>
	$(document).ready(function() {
	  $('#map').usmap({
	    'stateSpecificStyles': {
	      'AK' : {fill: '#f00'}
	    },
	    'stateSpecificHoverStyles': {
	      'HI' : {fill: '#ff0'}
	    },

	    'mouseoverState': {
	      'HI' : function(event, data) {
	        //return false;
	      }
	    },


	    'click' : function(event, data) {
	      $('#alert')
	        .text('Click '+data.name+' on map 1')
	        .stop()
	        .css('backgroundColor', '#ff0')
	        .animate({backgroundColor: '#ddd'}, 1000);
	    }
	  });

	  $('#map2').usmap({
	    'stateStyles': {
	      fill: '#025',
	      "stroke-width": 1,
	      'stroke' : '#036'
	    },
	    'stateHoverStyles': {
	      fill: 'teal'
	    },

	    'click' : function(event, data) {
	      $('#alert')
	        .text('Click '+data.name+' on map 2')
	        .stop()
	        .css('backgroundColor', '#af0')
	        .animate({backgroundColor: '#ddd'}, 1000);
	    }
	  });

	  $('#over-md').click(function(event){
	    $('#map').usmap('trigger', 'MD', 'mouseover', event);
	  });

	  $('#out-md').click(function(event){
	    $('#map').usmap('trigger', 'MD', 'mouseout', event);
	  });
	});
	</script>
</head>
<body>
  <div class="row">
		<div class="col-sm-6 col-xs-12">
  		<div id="map" style="width: 100%; height: 630px; border: solid 3px red;"></div>

		  <button id="over-md">mouseover MD</button> <button id="out-md">mouseout MD</button>
		  <div id="map2" style="width: 300px; height: 300px;"></div>
		</div>
		<div class="col-sm-6 col-xs-12">
			Stats go here.
		</div>
	</div>

	<!-- Javascript for Bootstrap
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
</body>
</html>
