<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

	<title>Leo and Jen - Capitals Journey</title>

	<style>
	  #alert {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    background-color: #ddd;
	    color: #333;
	    padding: 5px;
	    font-weight: bold;
	  }
		{%for capital in all_capitals%}
		#photos{{capital.id}} {
		   line-height: 0;
		   -webkit-column-count: 2;
		   -webkit-column-gap:   0px;
		   -moz-column-count:    2;
		   -moz-column-gap:      0px;
		   column-count:         2;
		   column-gap:           0px;
		}
		#photos{{capital.id}} img {
		  width: 100% !important;
		  height: auto !important;
		}
		@media (max-width: 1200px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 1000px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 800px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media (max-width: 400px) {
		  #photos{{capital.id}} {
		  -moz-column-count:    1;
		  -webkit-column-count: 1;
		  column-count:         1;
		  }
		}
	{%endfor%}
	</style>
  {% load staticfiles %}
	<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "css/ie10-viewport-bug-workaround.css"%}" rel="stylesheet">
	<link href="{% static "PhotoSwipe-master/dist/photoswipe.css"%}" rel="stylesheet">
	<link href="{% static "PhotoSwipe-master/dist/default-skin/default-skin.css"%}" rel="stylesheet">
	<link href="{% static "css/capitals-custom.css"%}" rel="stylesheet">


	<!-- Javascript for US Map -->
	<script src="{% static "js/raphael.js"%}"></script>
	<!-- <script src="scale.raphael.js"></script>-->
	<script src="{% static "js/jquery.js"%}"></script>
	<script src="{% static "js/color.jquery.js"%}"></script>
	<script src="{% static "js/jquery.usmap.js"%}"></script>

	<script>
	$(document).ready(function() {
	  $('#map').usmap({
	    'stateSpecificStyles': {
				{%for capital in us_capitals%}
	      '{{capital.us_state}}' : {fill: '#76FF51'},
				{%endfor%}
	    },
	    //'stateSpecificHoverStyles': {
	    //  'HI' : {fill: '#ff0'}
	    //},

	    //'mouseoverState': {
	    //  'HI' : function(event, data) {
	        //return false;
	    //  }
	    //},


	    'click' : function(event, data) {
	      $('#alert')
	        .text('Click '+data.name+' on map 1')
	        .stop()
	        .css('backgroundColor', '#ff0')
	        .animate({backgroundColor: '#ddd'}, 1000);
	    }
	  });

	  $('#map2').usmap({
	    'stateStyles': {
	      fill: '#025',
	      "stroke-width": 1,
	      'stroke' : '#036'
	    },
	    'stateHoverStyles': {
	      fill: 'teal'
	    },

	    'click' : function(event, data) {
	      $('#alert')
	        .text('Click '+data.name+' on map 2')
	        .stop()
	        .css('backgroundColor', '#af0')
	        .animate({backgroundColor: '#ddd'}, 1000);
	    }
	  });

	  $('#over-md').click(function(event){
	    $('#map').usmap('trigger', 'MD', 'mouseover', event);
	  });

	  $('#out-md').click(function(event){
	    $('#map').usmap('trigger', 'MD', 'mouseout', event);
	  });
	});
	</script>
</head>
<body>
	<a name="top"></a>
	<nav class="navbar navbar-default">
		<div class="container">
			<p class="navbar-text">Leo and Jen - Capitals Journey</p>
		</div>
	</nav>

<div class="container">
  <div class="row" id="top-section">
		<div class="col-md-5 col-sm-12 col-xs-12">
			<h2 class="text-center">Map of the USA</h2>
  		<div id="map" style="width: 100%; height: 300px;"></div>
			<!--
		  <button id="over-md">mouseover MD</button> <button id="out-md">mouseout MD</button>
		  <div id="map2" style="width: 300px; height: 300px;"></div> -->
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h4>Other Countries</h4>
				<div class="btn-group-vertical" role="group">
					{%for capital in other_capitals%}
						<a href="#{{capital.id}}" class="btn btn-info">{{capital.name}}</a>
					{%endfor%}
				</div>
			</div>
		</div>
		<div class="col-md-7 col-sm-12 col-xs-12">
			<h4>US Capitals</h4>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{us_capitals_visited_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{us_capitals_visited_percent}}%;">
			    {{us_capitals_visited}} / 50
			  </div>
			</div>
			<!-- Will hard set 4 columns here, improve later -->
			{%for column in all_columns%}
				<div class="capital_column col-xs-12 col-sm-12 col-md-12">
					<div class="btn-group-vertical" role="group">
					{%for city, visited, state in column%}
						{%if visited%}
							<a href="#{{state}}" class="btn btn-success">{{city}}</a>
						{%else%}
							<a href="#{{state}}" class="btn btn-default">{{city}}</a>
						{%endif%}
					{%endfor%}
					</div>
				</div>
			{%endfor%}
		</div>
	</div>

	{%for capital in all_capitals%}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				{%if capital.us_state%}
					<a name="{{capital.us_state}}"></a>
				{%else%}
					<a name="{{capital.id}}"></a>
				{%endif%}
				<img src="{{ MEDIA_URL }}{{capital.country.flag}}" class="country-flag-img">
		    <h1 class="panel-title capital-title">{{capital.name}}</h1>
				<p class="text-right"><a href="#top">Back to top</a></p>
		  </div>
			<div class="panel-body">
				<div class="col-sm-4 col-xs-12">
					<img src="{{ MEDIA_URL }}{{capital.flag}}" class="flag-img">
					<small>{{capital.flag_caption}}</small>
					<h3>Date Visited: {{capital.date_visited}}</h3>
					<p>{{capital.description}}</p>
					<p><a href="https://www.google.com/maps/@{{capital.lat}},{{capital.lon}},12z" target='_blank' class="btn btn-primary btn-lg active" role="button">Map it</a></p>
				</div>
				<div class="col-sm-8 col-xs-12">
					<div id="photos{{capital.id}}" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
						{%for photo in all_photos%}
							{%if photo.capital == capital%}
								<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						      <a href="{{ MEDIA_URL }}{{photo.photo_file}}" itemprop="contentUrl" data-size="{{photo.photo_width}}x{{photo.photo_height}}">
						          <img src="{{ MEDIA_URL }}{{photo.photo_file}}" itemprop="thumbnail" alt="Image description" />
						      </a>
						    	<figcaption itemprop="caption description">{{capital.name}} - {{capital.date_visited}}</figcaption>
								</figure>
							{%endif%}
						{%endfor%}
					</div>
				</div>
		  </div>
		</div>
	</div>
	{%endfor%}
</div>
	<!-- Javascript for Bootstrap
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script src="{% static "PhotoSwipe-master/dist/photoswipe.min.js"%}"></script>
	<script src="{% static "PhotoSwipe-master/dist/photoswipe-ui-default.min.js"%}"></script>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
	<script>
	var initPhotoSwipeFromDOM = function(gallerySelector) {

	// parse slide data (url, title, size ...) from DOM elements
	// (children of gallerySelector)
	var parseThumbnailElements = function(el) {
			var thumbElements = el.childNodes,
					numNodes = thumbElements.length,
					items = [],
					figureEl,
					linkEl,
					size,
					item;

			for(var i = 0; i < numNodes; i++) {

					figureEl = thumbElements[i]; // <figure> element

					// include only element nodes
					if(figureEl.nodeType !== 1) {
							continue;
					}

					linkEl = figureEl.children[0]; // <a> element

					size = linkEl.getAttribute('data-size').split('x');

					// create slide object
					item = {
							src: linkEl.getAttribute('href'),
							w: parseInt(size[0], 10),
							h: parseInt(size[1], 10)
					};



					if(figureEl.children.length > 1) {
							// <figcaption> content
							item.title = figureEl.children[1].innerHTML;
					}

					if(linkEl.children.length > 0) {
							// <img> thumbnail element, retrieving thumbnail url
							item.msrc = linkEl.children[0].getAttribute('src');
					}

					item.el = figureEl; // save link to element for getThumbBoundsFn
					items.push(item);
			}

			return items;
	};

	// find nearest parent element
	var closest = function closest(el, fn) {
			return el && ( fn(el) ? el : closest(el.parentNode, fn) );
	};

	// triggers when user clicks on thumbnail
	var onThumbnailsClick = function(e) {
			e = e || window.event;
			e.preventDefault ? e.preventDefault() : e.returnValue = false;

			var eTarget = e.target || e.srcElement;

			// find root element of slide
			var clickedListItem = closest(eTarget, function(el) {
					return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
			});

			if(!clickedListItem) {
					return;
			}

			// find index of clicked item by looping through all child nodes
			// alternatively, you may define index via data- attribute
			var clickedGallery = clickedListItem.parentNode,
					childNodes = clickedListItem.parentNode.childNodes,
					numChildNodes = childNodes.length,
					nodeIndex = 0,
					index;

			for (var i = 0; i < numChildNodes; i++) {
					if(childNodes[i].nodeType !== 1) {
							continue;
					}

					if(childNodes[i] === clickedListItem) {
							index = nodeIndex;
							break;
					}
					nodeIndex++;
			}



			if(index >= 0) {
					// open PhotoSwipe if valid index found
					openPhotoSwipe( index, clickedGallery );
			}
			return false;
	};

	// parse picture index and gallery index from URL (#&pid=1&gid=2)
	var photoswipeParseHash = function() {
			var hash = window.location.hash.substring(1),
			params = {};

			if(hash.length < 5) {
					return params;
			}

			var vars = hash.split('&');
			for (var i = 0; i < vars.length; i++) {
					if(!vars[i]) {
							continue;
					}
					var pair = vars[i].split('=');
					if(pair.length < 2) {
							continue;
					}
					params[pair[0]] = pair[1];
			}

			if(params.gid) {
					params.gid = parseInt(params.gid, 10);
			}

			return params;
	};

	var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
			var pswpElement = document.querySelectorAll('.pswp')[0],
					gallery,
					options,
					items;

			items = parseThumbnailElements(galleryElement);

			// define options (if needed)
			options = {

					// define gallery index (for URL)
					galleryUID: galleryElement.getAttribute('data-pswp-uid'),

					getThumbBoundsFn: function(index) {
							// See Options -> getThumbBoundsFn section of documentation for more info
							var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
									pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
									rect = thumbnail.getBoundingClientRect();

							return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
					}

			};

			// PhotoSwipe opened from URL
			if(fromURL) {
					if(options.galleryPIDs) {
							// parse real index when custom PIDs are used
							// http://photoswipe.com/documentation/faq.html#custom-pid-in-url
							for(var j = 0; j < items.length; j++) {
									if(items[j].pid == index) {
											options.index = j;
											break;
									}
							}
					} else {
							// in URL indexes start from 1
							options.index = parseInt(index, 10) - 1;
					}
			} else {
					options.index = parseInt(index, 10);
			}

			// exit if index not found
			if( isNaN(options.index) ) {
					return;
			}

			if(disableAnimation) {
					options.showAnimationDuration = 0;
			}

			// Pass data to PhotoSwipe and initialize it
			gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
			gallery.init();
	};

	// loop through all gallery elements and bind events
	var galleryElements = document.querySelectorAll( gallerySelector );

	for(var i = 0, l = galleryElements.length; i < l; i++) {
			galleryElements[i].setAttribute('data-pswp-uid', i+1);
			galleryElements[i].onclick = onThumbnailsClick;
	}

	// Parse URL and open gallery if it contains #&pid=3&gid=1
	var hashData = photoswipeParseHash();
	if(hashData.pid && hashData.gid) {
			openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
	}
};

// execute above function
initPhotoSwipeFromDOM('.my-gallery');
	</script>
</body>
</html>
